{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "stryker": {
            "badge": "master"
        }
    },
    "minMsi": 66.67,
    "minCoveredMsi": 94.74
}
